doctype html
html(lang="pt-br")
	head
	include components/Head
	body
		include components/Header
		include components/Projects
		include components/About
		include components/Skills
		include components/Contact
		include components/Footer
		script(src="js/app.js")