.footer
	+flex(center, $w: wrap)
	background: $dark
	color: $light
	padding: 80px 0 100px
	&__icon
		border: 2px solid $light
		border-radius: 50%
		font-size: 1.8rem
		margin: 15px
		padding: 15px
		transition: 350ms
		&:hover
			background: $light
			color: $dark
	&__text
		margin-top: 25px
		text-align: center
		width: 100%

+tablet
	.footer
		+flex($a: center, $d: column)