section.about
	.container.about__container
		img.about__avatar(data-src="/images/about/avatar.svg", alt="Avatar Jhonny Izidoro Menarim", title="Jhonny Izidoro Menarim")
		.about__title Sobre mim
		p.about__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper
		.about__subtitle Minha trajetória
		.about__timeline
			.about__timeline__item
				h4.about__timeline__title 2018 - 2020: #[strong Nam quam nunc blandit vel]
				p.about__timeline__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus
			.about__timeline__item
				h4.about__timeline__title 2018 - 2020: #[strong Nam quam nunc blandit vel]
				p.about__timeline__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus
			.about__timeline__item
				h4.about__timeline__title 2018 - 2020: #[strong Nam quam nunc blandit vel]
				p.about__timeline__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus
			.about__timeline__item
				h4.about__timeline__title 2018 - 2020: #[strong Nam quam nunc blandit vel]
				p.about__timeline__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus
			.about__timeline__item
				h4.about__timeline__title 2018 - 2020: #[strong Nam quam nunc blandit vel]
				p.about__timeline__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus
			.about__timeline__item
				h4.about__timeline__title 2018 - 2020: #[strong Nam quam nunc blandit vel]
				p.about__timeline__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus