section.about
	.container.about__container
		img.about__avatar(data-src="/images/about/avatar.svg", alt="Avatar Jhonny Izidoro Menarim", title="Jhonny Izidoro Menarim")
		.about__title Sobre mim
		p.about__text Sou um desenvolvedor que trabalha com desenvolvimento de sites desde o início, há quatro anos atrás. Por ser muito curioso e apaixonado pelo que faço, eu aprendi muito rápido. Quando iniciei meu primeiro estágio eu era desenvolvedor PHP, Apesar de não ter dado foco para essa área do desenvolvimento, foi muito bom para mim ter essa experiência, pois hoje eu sei como funciona muita coisa que eu nunca saberia se não tivesse colocado a mão na massa. Paralelamente com esse estágio, eu iniciei um freelance em front-end, desde então, estou atuando na área. Sempre busco melhorar o que já existe e aprender coisas novas. Entrego qualidade para os clientes.
		.about__subtitle Minha trajetória
		.about__timeline
			.about__timeline__item
				h3.about__timeline__title 02/2008 - 12/2012: #[strong Inglês avançado no CCAA]
				p.about__timeline__text Curso com todos os módulos completos na escola de inglês CCAA. Até hoje treino muito meu inglês conversando com pessoas de fora do país.
			.about__timeline__item
				h3.about__timeline__title 01/2012 - 11/2012: #[strong Redes na Microlins]
				p.about__timeline__text Quando era mais novo fiz um curso de redes na Microlins, lá eu aprendi muitas coisas que uso hoje, como Linux, infraestrutura e etc.
			.about__timeline__item
				h3.about__timeline__title 01/2016 - 06/2020: #[strong Análise e Desenvolvimento de Sistemas na UFPR]
				p.about__timeline__text Esse foi o ano que fui aprovado no vestibular da UFPR para o curso que queria. Ainda estou finalizando o curso, a previsão é para acabar no primeiro semestre de 2020.
			.about__timeline__item
				h3.about__timeline__title 07/2016 - 01/2018: #[strong Suporte técnico em Paysage Empreendimentos]
				p.about__timeline__text Entrei na empresa como estagiário e logo fui efetivado. Aqui eu tive meu primeiro contato com a programação e com banco de dados. Apesar de prestar suporte na maioria do tempo, desenvolvi uma nova intranet para a empresa.
			.about__timeline__item
				h3.about__timeline__title 01/2018 - 07/2018: #[strong Bolsista UFPR - PROTECA]
				p.about__timeline__text Quando saí dai Paysage Empreendimentos consegui uma bolsa para um projeto de extensão na UFPR, esse foi meu primeiro projeto de médio porte. Por comodidade utilizei algumas tecnologias que já tinha conhecimento, como Laravel e Bulma CSS.
			.about__timeline__item
				h3.about__timeline__title 07/2018 - 08/2016: #[strong Desenvolvedor PHP em E-completo]
				p.about__timeline__text Esse foi uma das melhores experiências que tive, pois aprendi muito. Apesar de atualmente não ser desenvolvedor back-end, aqui aprendi como funcionam os E-commerce, fiz integrações de frete e pagamento, além de aprender bastante sobre PHP e infraestrutura de servidor.
			.about__timeline__item
				h3.about__timeline__title 01/2018 - Atualmente: #[strong Desenvolvedor Front-End em E-completo Carros]
				p.about__timeline__text Paralelamente com meu trabalho na E-completo, iniciei um projeto com um dos sócios da empresa para o desenvolvimento de sites para revenda de veículos. Nesse projeto já desenvolvi mais de 70 sites. Tenho orgulho de dizer que todos os 70 são PWA e tem nótas excelentes nas avaliações da Google.