section.contact
	h4.contact__title Entre em#[br]contato
	.container.contact__container
		a.contact__card.contact__card--instagram(href="https://www.instagram.com/jhonny.menarim", rel="noopener", target="_blank")
			.contact__subtitle INSTAGRAM
			.contact__text @jhonny.menarim
		a.contact__card.contact__card--facebook(href="https://www.facebook.com/jhonny.cfal", rel="noopener", target="_blank")
			.contact__subtitle FACEBOOK
			.contact__text fb.com/jhonny.cfal
		a.contact__card.contact__card--whatsapp(data-whatsapp="5541991791053", rel="noopener", target="_blank")
			.contact__subtitle WHATSAPP
			.contact__text (41) 99179-1053
	form.contact__form
		.contact__form__title Ou se preferir, utilize o formulário abaixo
		input.contact__form__input(type="text", name="name", placeholder="Nome", aria-label="Insira seu nome", required)
		input.contact__form__input(type="text", name="contact", placeholder="Contato (celular / email)", aria-label="Insira seu contato (celular ou email)", required)
		textarea.contact__form__textarea(name="message", placeholder="Mensagem", aria-label="Insira a mensagem", required)
		button.contact__form__button(type="submit", aria-label="Enviar formulário de contato") Enviar mensagem