footer.footer
	a.footer__icon.icon.icon--envelope(href="mailto:jhonny-cwb@hotmail.com", title="Enviar e-mail")
	a.footer__icon.icon.icon--facebook(href="https://www.facebook.com/jhonny.cfal", rel="noopener", target="_blank", title="Facebook")
	a.footer__icon.icon.icon--whatsapp(data-whatsapp="5541991791053", rel="noopener", target="_blank", title="Enviar mensagem no WhatsApp")
	a.footer__icon.icon.icon--codepen(href="https://codepen.io/jhonnyizidoro", rel="noopener", target="_blank", title="Codepen")
	a.footer__icon.icon.icon--github(href="https://github.com/jhonnyizidoro", rel="noopener", target="_blank", title="GitHub")
	a.footer__icon.icon.icon--instagram(href="https://www.instagram.com/jhonny.menarim", rel="noopener", target="_blank", title="Instagram")
	a.footer__icon.icon.icon--linkedin(href="https://www.linkedin.com/in/jhonnyizidoro/", rel="noopener", target="_blank", title="Linkedin")