header.header
	.container.header__container
		include Navbar
		.header__content
			h1.header__title
				.header__title__strong Jhonny Izidoro
				.header__title__regular Web Designer & Front-end web developer
			h2.header__list
				.header__list__item Performance #[.header__icon.icon.icon--check]
				.header__list__item SEO #[.header__icon.icon.icon--check]
				.header__list__item Acessibilidade #[.header__icon.icon.icon--check]
		button.header__button(data-target="section.projects", type="button", aria-label="rolar a página até a seção projetos") Veja meus projetos