nav.navbar
	button.navbar__link(data-target="", aria-label="rolar a página até a seção projetos") Projetos
	button.navbar__link(data-target="", aria-label="rolar a página até a seção sobre mim") Sobre mim
	button.navbar__link(data-target="", aria-label="rolar a página até a seção skills") Skills
	button.navbar__link(data-target="", aria-label="rolar a página até a seção contato") Contato
	a.navbar__link(href="https://github.com/jhonnyizidoro", rel="noopener", target="_blank") GitHub