section.projects
	.projects__title Projetos
	.container.projects__container
		.projects__card.projects__card--orange
			img.projects__image(data-src="/images/projects/7place.jpg", alt="Site versão desktop da loja 7place", title="7place")
			.projects__content
				.projects__name 7place
				p.projects__text 7place é um revenda de veículos localizada em Curitiba. Foi um projeto importante por se tratar de uma revenda de veículos premium. O site foi feito com um design moderno e responsivo. Mantendo o meu padrão, o site da revenda alcançou notas altar nas avaliações da Google. Depois que o site foi para o ar, o cliente teve um aumento enorme de clientes vindos de busca orgânica.
				a.projects__link(href="https://www.7place.com.br/", rel="noopener", target="_blank") visite o site
		.projects__card.projects__card--blue
			.projects__content
				.projects__name GTO Car Specialists
				p.projects__text A GTO Car Specialists é uma revenda de veículos de alto padrão localizada em São Paulo. O site foi feito para um cliente exigente que gostou muito do produto entregue. O site é totalmente responsivo e funciona em navegadores legado, pois esse é um cuidado que sempre tenho ao desenvolver um site.
				a.projects__link(href="https://www.gtocs.com.br/", rel="noopener", target="_blank") visite o site
			img.projects__image(data-src="/images/projects/gto.jpg", alt="Site versão desktop da loja LeLac seminovos", title="LeLac Seminovos")
		.projects__card.projects__card--green
			img.projects__image(data-src="/images/projects/casamento.jpg", alt="Versão desktop do site do casamento de Leonardo e Jenyfer", title="Casamento Leonardo e Jenyfer")
			.projects__content
				.projects__name Jenyfer & Leonardo
				p.projects__text Site feito para o casamento da minha irmã com seu futuro esposo. O site, além de manter os altos padrões de qualidade, conta com uma integração com o Mercado Pago. Nele é possível comprar um produto fictício para presentar os noivos, quando a compra é efetuada, o dinheiro vai para a conta deles. Esse foi um dos meus presentes de casamento para eles.
				a.projects__link(href="https://www.casamentoleoejeny.com.br/", rel="noopener", target="_blank") visite o site