section.projects
	h3.title
		.title__strong Projetos
	.container.projects__container
		.projects__card.projects__card--orange
			img.projects__image(data-src="/images/projects/7place.jpg", alt="Site versão desktop da loja 7place", title="7place")
			.projects__content
				.projects__title 7place
				.projects__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.
				a.projects__link(href="https://www.seminovosgrupolelac.com.br/", rel="noopener", target="_blank") visite o site
		.projects__card.projects__card--blue
			.projects__content
				.projects__title LeLac Seminovos
				.projects__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.
				a.projects__link(href="https://www.7place.com.br/", rel="noopener", target="_blank") visite o site
			img.projects__image(data-src="/images/projects/lelac.jpg", alt="Site versão desktop da loja LeLac seminovos", title="LeLac Seminovos")
		.projects__card.projects__card--green
			img.projects__image(data-src="/images/projects/casamento.jpg", alt="Versão desktop do site do casamento de Leonardo e Jenyfer", title="Casamento Leonardo e Jenyfer")
			.projects__content
				.projects__title Jenyfer & Leonardo
				.projects__text Curabitur vestibulum aliquam leo. Nunc nonummy metus. Vestibulum eu odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.
				a.projects__link(href="https://www.casamentoleoejeny.com.br/", rel="noopener", target="_blank") visite o site