section.skills
	.skills__title Skills
	.container.skills__container
		.skills__card.skills__card--blue
			img.skills__image(data-src="/images/skills/front-end.svg", alt="Ícone Front-End", title="Front-End")
			.skills__subtitle Front-End
			ol.skills__list
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
		.skills__card.skills__card--yellow
			img.skills__image(data-src="/images/skills/back-end.svg", alt="Ícone Back-End", title="Back-End")
			.skills__subtitle Back-End
			ol.skills__list
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
		.skills__card.skills__card--purple
			img.skills__image(data-src="/images/skills/design.svg", alt="Ícone Design", title="Design")
			.skills__subtitle Design
			ol.skills__list
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS
				li.skills__list__item Frameworks CSS