section.skills
	.skills__title Skills
	.container.skills__container
		.skills__card.skills__card--blue
			img.skills__image(data-src="/images/skills/front-end.svg", alt="Ícone Front-End", title="Front-End")
			.skills__subtitle Front-End
			ol.skills__list
				li.skills__list__item Frameworks CSS
				li.skills__list__item Semântica HTML
				li.skills__list__item Acessibilidade
				li.skills__list__item Sass & CSS
				li.skills__list__item Boas práticas
				li.skills__list__item SEO
				li.skills__list__item JavaScript ES6+
				li.skills__list__item Gulp
				li.skills__list__item Otimização
				li.skills__list__item Progressive Web App (PWA)
				li.skills__list__item VueJS + Vuex
				li.skills__list__item React + Redux
				li.skills__list__item Pug & Jade
				li.skills__list__item Cross-Browser
		.skills__card.skills__card--yellow
			img.skills__image(data-src="/images/skills/back-end.svg", alt="Ícone Back-End", title="Back-End")
			.skills__subtitle Back-End
			ol.skills__list
				li.skills__list__item PHP
				li.skills__list__item Laravel
				li.skills__list__item Code Igniter
				li.skills__list__item Express JS
				li.skills__list__item Node
				li.skills__list__item API REST
				li.skills__list__item MySQL & MariaDB
				li.skills__list__item Docker
				li.skills__list__item SOAP & CURL
				li.skills__list__item API de pagamento
				li.skills__list__item API de frete
		.skills__card.skills__card--purple
			img.skills__image(data-src="/images/skills/other.svg", alt="Ícone Outros", title="Outros")
			.skills__subtitle Outros
			ol.skills__list
				li.skills__list__item Adobe Illustrator
				li.skills__list__item Adobe Photoshop
				li.skills__list__item Adobe XD
				li.skills__list__item BitBucket
				li.skills__list__item GitHub
				li.skills__list__item Heroku
				li.skills__list__item Inglês
				li.skills__list__item NPM
				li.skills__list__item Amazon S3
				li.skills__list__item Amazon RDS
				li.skills__list__item E-commerce
				li.skills__list__item Service Worker